<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.unistuttgart.vis.wearable.os"
    android:versionCode="1"
    android:versionName="1.0" >
    
    <!-- Set the permission flags we need to use -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="false" />
    
    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="21" />
    
   

    <application

        android:name="de.unistuttgart.vis.wearable.os.handle.APIHandle"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
            >
        <activity
            android:name="de.unistuttgart.vis.wearable.os.app.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        
        <!-- The public service -->
        <service 
            android:name=".service.GarmentOSService"
            android:process=":remote">
            <intent-filter>
                <action android:name="de.unistuttgart.vis.wearable.os.api.IGarmentAPI"/>
                <action android:name="de.unistuttgart.vis.wearable.os.service.GarmentOSSerivce"/>
            </intent-filter>            
        </service>
        
        <!-- The internal service -->
        <service 
            android:name="de.unistuttgart.vis.wearable.os.internalservice.GarmentOSServiceInternal"
            android:process=":remote">
            <intent-filter >
                <action android:name="de.unistuttgart.vis.wearable.os.internalapi.IGarmentInternalAPI"/>
                <action android:name="de.unistuttgart.vis.wearable.os.internalservice.GarmentOSServiceInternal"/>
            </intent-filter>            
        </service>

        <activity
                android:name="com.dropbox.client2.android.AuthActivity"
                android:configChanges="orientation|keyboard"
                android:launchMode="singleTask"
                android:screenOrientation="portrait" >
            <intent-filter>
                <data android:scheme="db-hfo4su0wieruugc" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app.PrivacyActivity"
            android:label="@string/title_activity_privacy" >
        </activity>
        <activity
            android:name=".app.SensorsActivity"
            android:label="@string/title_activity_sensors" >
        </activity>
        <activity
            android:name=".app.AboutActivity"
            android:label="@string/title_activity_about" >
        </activity>
        <activity
            android:name=".app.StorageActivity"
            android:label="@string/title_activity_storage" >
        </activity>
        <activity
            android:name=".app.SensorDetailActivity"
            android:label="@string/title_activity_sensor_detail"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity
            android:name=".app.AddSensorActivity"
            android:label="@string/title_activity_sensor_add"
            android:windowSoftInputMode="stateAlwaysHidden"  >
        </activity>
        <activity
            android:name=".app.ImportExportArchiveActivity"
            android:label="@string/title_activity_export_db" >
        </activity>
        <activity
            android:name=".app.GraphActivity"
            android:label="@string/title_activity_graph" >
        </activity>
        <activity android:name=".app.BluetoothActivity" />
        <activity 
            android:name=".app.HARActivity"
            android:label="@string/title_activity_har" >
        </activity>
        <activity 
            android:name=".app.HARActivityTraining"
            android:label="@string/title_train_settings" >
        </activity>
        <activity 
            android:name=".app.HARActivityManager"
            android:label="@string/title_activity_har" >
        </activity>
        <activity android:name=".cloud.Dropbox"/>
        <activity android:name=".cloud.googleDrive.GoogleDrive" android:label="Google Drive"/>
        <activity android:name=".cloud.oneDrive.OneDrive" android:label="One Drive"/>
        <activity android:name=".app.Import_ExportActivity"/>
        <meta-data android:name="com.google.android.gms.version"
                   android:value="@integer/google_play_services_version" />
    </application>

</manifest>
